<div class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="{{'active' if name=='index' else ''}}">
                <a href="#">首页</a>
            </li>
            <li class="{{'active' if name=='question' else ''}}">
                <a href="/m/question/listbycondition/0">题库管理</a>
            </li>
            <li class="{{'active' if name=='partner' else ''}}">
                <a href="/m/partner/list/0">合作商管理</a>
            </li>
            <li class="{{'active' if name=='user' else ''}}">
                <a href="/m/user/list/paid">用户管理</a>
            </li>
            <li class="{{'active' if name=='withdraw' else ''}}">
                <a href="/m/withdraw/list/0">提现管理</a>
            </li>
            <li class="{{'active' if name=='material' else ''}}">
                <a href="/m/webMaterial/list">推广素材管理</a>
            </li>
            <li class="{{'active' if name=='education' else ''}}">
                <a href="/m/education/paid">线下教育管理</a>
            </li>
            <li class="{{'active' if name=='goods' else ''}}">
                <a href="/m/goods/course/list">商城管理</a>
            </li>
            <li class="{{'active' if name=='sword' else ''}}">
                <a href="/m/record/new/list">寻找神剑</a>
            </li>
            <li class="{{'active' if name=='design' else ''}}">
                <a href="/m/design/new/list">武林大会</a>
            </li>
            <li class="{{'active' if name=='data' else ''}}">
                <a href="/m/data/list">数据统计</a>
            </li>
            <li class="{{'active' if name=='sys' else ''}}">
                <a href="/m/sys/list">系统设置</a>
            </li>
        </ul>
    </div>
</div>