{% extends "../layout/mbase.html" %}

{% block css %}{% end %}

{% block js %}
<script>
    $(function () {
        $('#J-save-btn').click(function () {
            var data = $.formUtils.formData('form');
            console.log(data);
//            var url = None
            $.post(window.location.pathname, data, function (res) {
                if (res.typ == 1) {
                    alert('添加成功');
                    window.location.href ='/m/partner/list/0';
                }
            }, 'json');
        });
    });
</script>
{% end %}

{% block nav %}
{% module Template("module/backnav.html", name='partner') %}
{% end %}


{% block container%}

<div class="container">

    <div class="container">
        <a href="javascript:history.back();" class="btn btn-primary pull-right btn-sm layout-mt20">返回</a>

        <h3>合作商
            <small>添加</small>
        </h3>
        <hr/>
        <div>

            <div class="row">
                <div class="col-xs-9">
                    <h4>添加合作商：</h4>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-12">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-xs-2">姓名：</label>

                                    <div class="col-xs-5">
                                        <input type="text" class="form-control" name="name" placeholder="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-2">电话：</label>

                                    <div class="col-xs-5">
                                        <input type="text" class="form-control" name="mobile" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-2">管理帐号：</label>

                                    <div class="col-xs-5">
                                        <input type="text" class="form-control" name="user_id" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-2">提成：</label>

                                    <div class="col-xs-5">
                                        <input type="text" class="form-control" name="percentage" placeholder="">
                                    </div>
                                </div>
                                <a id="J-save-btn" class="btn btn-primary"> 添加 </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </div>

</div>

{% end %}