{% extends "../layout/mbase.html" %}

{% block css %}{% end %}

{% block js %}
{% module Template("module/js.html", filepath='zui/upyun/spark-md5.min.js') %}
{% module Template("module/js.html", filepath='zui/upyun/async.min.js') %}
{% module Template("module/js.html", filepath='zui/upyun/upyun-mu.js') %}


<script>
    //---------------提现--------------------------
    $(function () {
        $('table tr .btn-sm').click(function () {
            if (confirm("确定支付吗？")) {
                $.post('/m/withDraw/' + $(this).data('wid'), function (res) {
                    if (res.status == 1) {
                        window.location.reload();
                    }
                }, 'json');
            }

            return false;
        });
    });
</script>

<script>
    //----------------------上传logo或者照片----------------------
    $(function () {
        var upconfig = {
            bucket: '{{gconf["up_file_bucket"]}}',
            expiration: parseInt((new Date().getTime() + 3600000) / 1000),
            // 尽量不要使用直接传表单 API 的方式，以防泄露造成安全隐患
            form_api_secret: '{{gconf["up_file_secret"]}}'
        };


        $('#J-logo-up,#J-video_pre-up,#J-video-up').click(function () {
            if ($(this).html() == "上传") {
                $(this).html("上传中...");
                $('#file').click();
            }
            return false;
        });

        $('#file').change(function () {
            var ext = '.' + document.getElementById('file').files[0].name.split('.').pop();
            var instance = new Sand(upconfig);
            var options = {
                'notify_url': 'http://upyun.com'
            };

            instance.setOptions(options);
            instance.upload('/upload/test/' + parseInt((new Date().getTime() + 3600000) / 1000) + ext);
        });

        document.addEventListener('uploaded', function (e) {
            var data = e.detail;
            var path = "http://{{gconf['up_file_bucket']}}.b0.upaiyun.com" + data["path"];
            var upload_id = $(e.path[0].activeElement).attr('id');
            console.log(path);
            var upkey = upload_id.replace('J-', '').replace('-up', '');
            $(e.path[0].activeElement).html("上传").removeAttr("disabled");

            if (upkey == 'logo') {
                var img = $(e.path[0].activeElement).prev('img');
                img.attr('src', path);
                saveFile(upkey, data["path"]);
            } else if (upkey == 'video_pre') {
                var img = $(e.path[0].activeElement).prev('img');
                img.attr('src', path);
                saveFile(upkey, data["path"]);
            } else if (upkey == 'video') {
                var a = $(e.path[0].activeElement).prev('a');
                a.attr('href', path).html('查看视频');
                saveFile(upkey, data["path"]);
            }
        });
        function saveFile(fk, path) {
            var data = {};
            data[fk] = path;
            $.post('/m/partner/sfile/' + $("#J-partner-id").val(), data, function (res) {
                if (res.status == 1) {

                }
            }, 'json');
        }
    });
</script>

<script>
    //--------------------------修改----------------------------
    $(function () {
        $('#J-add-btn').click(function () {
            var data = $.formUtils.formData($(this).parent('form'));
            console.log(data);
            $.post(window.location.pathname, data, function (res) {
                if (res.status == 1) {
                    history.back();
                }
            }, 'json');
        })

    })
</script>
<script>
    $(function () {
        $('#qr_create').click(function () {
            $(this).unbind('click');
            var data = {
                'price': $('#qr_price').val(),
                'num': $('#qr_num').val()
            };
            $.post('/m/partner/benefit/' + $("#J-partner-id").val(), data, function (res) {
                if (res.status == 1) {
                    window.location.reload()
                }
            }, 'json')
        })
    })
</script>
{% end %}

{% block nav %}
{% module Template("module/backnav.html", name='partner') %}
{% end %}


{% block container%}


<div class="container">

    <div class="container">
        <a href="javascript:history.back();" class="btn btn-primary pull-right btn-sm layout-mt20">返回</a>
        <h3>合作商
            <small>编辑</small>
        </h3>
        <div>

            <div class="row">
                <div class="col-xs-9">
                    <input type="hidden" id="J-partner-id" value="{{partnerInf.id}}">
                    <hr/>
                    <div class="row">
                        <div class="col-xs-12">
                            <ul id="myTabs" class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home" id="home-tab" role="tab" data-toggle="tab"
                                       aria-controls="home" aria-expanded="true">基本信息</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#profit" role="tab" id="profit-tab" data-toggle="tab"
                                       aria-controls="profit" aria-expanded="false">收益信息</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#profile" role="tab" id="profile-tab" data-toggle="tab"
                                       aria-controls="profile" aria-expanded="false">提现记录</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#extend" role="tab" id="extend-tab" data-toggle="tab"
                                       aria-controls="extend" aria-expanded="false">推广信息</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#trial" role="tab" id="trial-tab" data-toggle="tab"
                                       aria-controls="trial" aria-expanded="false">试玩信息</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#benefit" role="tab" id="benefit-tab" data-toggle="tab"
                                       aria-controls="benefit" aria-expanded="false">商城优惠券</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#qrcode" role="tab" id="qrcode-tab" data-toggle="tab"
                                       aria-controls="qrcode" aria-expanded="false">优惠二维码</a>
                                </li>

                            </ul>
                            <div id="myTabContent" class="tab-content layout-mt20">
                                <div role="tabpanel" class="tab-pane active in" id="home" aria-labelledby="home-tab">
                                    <input type="file" id="file" style="display: none">
                                    <form class="form-horizontal">

                                        <div class="form-group">
                                            <label class="control-label col-xs-2">头像：</label>
                                            <div class="col-xs-5">
                                                <img src="{{upfile(partnerInf.headimgurl)}}" width="80" alt="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-2">名称：</label>

                                            <div class="col-xs-5">
                                                <input type="text" class="form-control" name="name"
                                                       value="{{partnerInf.nick_name}}"
                                                       placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-2">简介：</label>

                                            <div class="col-xs-5">
                                                <textarea type="text" class="form-control" name="introduce">{{partnerInf.introduce}}</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-2">提成比例：</label>

                                            <div class="col-xs-5">
                                                <input type="text" class="form-control" name="percentage"
                                                       value="{{partnerInf.percentage}}"
                                                       placeholder="填写格式0.00">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-xs-2">审核：</label>
                                            <div class="col-xs-5">
                                                <select name="status">
                                                    <option value="0" {%if partnerInf.status==0 %}selected="selected"
                                                            {%end%}>已合作
                                                    </option>
                                                    <option value="1" {%if partnerInf.status==1 %}selected="selected"
                                                            {%end%}>已取消合作
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-2">视频预览图：</label>
                                            <div class="col-xs-5">
                                                {%if partnerInf.video_pre%}
                                                <img src="{{upfile(partnerInf.video_pre)}}" alt="" width="100"
                                                     height="100"/>
                                                {%else%}
                                                <img src=" " alt="" width="100" height="100"/>
                                                {%end%}
                                                <a href="#" class="btn btn-default btn-upload"
                                                   id="J-video_pre-up">上传</a>
                                            </div>
                                            <div class="help-block">图片格式：jpg，正方形尺寸640*360，小于30k</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-2">介绍视频：</label>

                                            <div class="col-xs-5">
                                                <a href="{{upfile(partnerInf.video)}}" target="_blank">
                                                    {{'查看视频' if partnerInf.video else ''}}
                                                </a>
                                                <a href="#" class="btn btn-default btn-upload" id="J-video-up">上传</a>
                                            </div>
                                            <div class="help-block">视频格式：mp4，1280*720，1028-200比特率，大小80M-100M</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-2">Logo：</label>

                                            <div class="col-xs-5">
                                                {%if partnerInf.logo%}
                                                <img src="{{upfile(partnerInf.logo)}}" alt="" width="100" height="100"/>
                                                {%else%}
                                                <img src=" " alt="" width="100" height="100"/>
                                                {%end%}
                                                <a href="#" class="btn btn-default"
                                                   id="J-logo-up">上传</a>
                                            </div>
                                            <div class="help-block">图片格式：jpg，尺寸：640*320</div>
                                        </div>

                                        <div class="alert alert-danger" style="display: none;">
                                            <strong>失败！</strong> 失败细节啥啥啥...
                                        </div>

                                        <a id="J-add-btn" class="btn btn-primary"> 修改 </a>
                                    </form>

                                </div>

                                <div role="tabpanel" class="tab-pane" id="profit" aria-labelledby="profit-tab">
                                    <table class="table table-hover layout-mt20">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>用户名</th>
                                            <th>收益</th>
                                            <th>时间</th>
                                            <th>途径</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for profit in partnerProfit%}
                                        <tr>
                                            <td><img src="http://placehold.it/80x80" alt="" width="50px;"></td>
                                            <td>{{profit.order.user.user_name}}</td>
                                            <td style="color: #d9534f;">{{profit.income}}</td>
                                            <td>{{ftime(profit.ctime)}}</td>
                                            {%if profit.level==1%}
                                            <td>直销</td>
                                            {%elif profit.level==2%}
                                            <td>分销</td>
                                            {%elif profit.level==3%}
                                            <td>团队直销</td>
                                            {%elif profit.level==4%}
                                            <td>分销</td>
                                            {%end%}
                                        </tr>
                                        {%end%}
                                        </tbody>
                                    </table>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="profile" aria-labelledby="profile-tab">
                                    <table class="table table-hover layout-mt20">
                                        <thead>
                                        <tr>
                                            <th>交易号</th>
                                            <th>金额</th>
                                            <th>时间</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for withdraw in partnerWithdraw%}
                                        <tr>
                                            <td>{{withdraw.pay_trade_no}}</td>
                                            <td>{{withdraw.amount}}</td>
                                            <td>{{ftime(withdraw.ctime)}}</td>
                                            {%if withdraw.status==1%}
                                            <td>提现成功</td>
                                            {%elif withdraw.status==0%}
                                            <td>提现中</td>
                                            <td align="right">
                                                <a href="" data-wid="{{withdraw.id}}" class="btn btn-primary btn-sm">批准提现</a>
                                            </td>
                                            {%end%}
                                        </tr>
                                        {%end%}
                                        </tbody>
                                    </table>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="extend" aria-labelledby="extend-tab">

                                    <form class="form-horizontal">

                                        <div class="form-group">
                                            <label class="control-label col-xs-2">推广二维码：</label>
                                            <div class="col-xs-5">
                                                <img src="{{qrimg}}" alt="">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-xs-2">推广链接：</label>

                                            <div class="col-xs-5">
                                                <span>{{url}}</span>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="trial" aria-labelledby="trial-tab">

                                    <form class="form-horizontal">

                                        <div class="form-group">
                                            <label class="control-label col-xs-2">试玩二维码：</label>
                                            <div class="col-xs-5">
                                                <img src="{{trial_qrimg}}" alt="">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-xs-2">试玩链接：</label>

                                            <div class="col-xs-5">
                                                <span>{{trial_url}}</span>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="benefit" aria-labelledby="benefit-tab">
                                    <table class="table table-hover layout-mt20">
                                        <thead>
                                        <tr>
                                            <th>玩家编号</th>
                                            <th>昵称</th>
                                            <th>优惠券标题</th>
                                            <th>兑换时间</th>
                                            <th>姓名</th>
                                            <th>联系方式</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for benefit in benefit_list%}
                                        <tr>
                                            <td>{{7000000+benefit.uid}}</td>
                                            <td>{{benefit.nick_name}}</td>
                                            <td>{{benefit.title}}</td>
                                            <td>{{ftime(benefit.ctime)}}</td>
                                            <td>{{benefit.real_name}}</td>
                                            <td>{{benefit.mobile}}</td>
                                        </tr>
                                        {%end%}
                                        </tbody>
                                    </table>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="qrcode" aria-labelledby="qrcode-tab">

                                    <div class="form-group" style="float: left;width: 25%;">
                                        <label class="control-label" style="line-height: 2.5;float: left;">促销价格：</label>

                                        <div class="col-xs-8">
                                            <input type="text" class="form-control" id="qr_price" placeholder="如30.38">
                                        </div>
                                    </div>
                                    <div class="form-group" style="float:left;width: 25%;">
                                        <label class="control-label" style="line-height: 2.5;float: left;">数量：</label>

                                        <div class="col-xs-8">
                                            <input type="text" class="form-control" id="qr_num" placeholder="如20">
                                        </div>
                                    </div>
                                    <div class="form-group" style="float:left;width: 15%;">
                                        <a href="javascript:;" class="btn btn-primary btn-sm"
                                           style="display: inline-block" id="qr_create">生成</a>
                                    </div>
                                    <div class="form-group" style="float:left;width: 17.5%;line-height: 2.1;">
                                        总数量：{{all_qrs}}
                                    </div>
                                    <div class="form-group" style="float:left;width: 17.5%;line-height: 2.1;">
                                        成交数量：{{all_buy}}
                                    </div>

                                    <table class="table table-hover layout-mt20">
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>生成时间</th>
                                            <th>价格</th>
                                            <th>数量</th>
                                            <th>成交数量</th>
                                            <th>二维码</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {%for kk in bqr_lists%}
                                        <tr>
                                            <td>{{kk['qr_info'].id}}</td>
                                            <td>{{ftime(kk['qr_info'].ctime)}}</td>
                                            <td>{{kk['qr_info'].price}}</td>
                                            <td>{{kk['qr_info'].num}}</td>
                                            <td>{{kk['current_num']}}</td>
                                            <td>
                                                <img src="{{kk['qr_info'].qrcode}}" alt="" width="60px">
                                            </td>
                                        </tr>
                                        {%end%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <br/>
        </div>
    </div>

</div>
{%end%}
