
            <table class="table table-hover layout-mt20">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {%for partner in partnerList%}
                <tr>
                    <td>{{partner.nick_name}}</td>
                    {%if partner.status==0%}
                    <td>代理商</td>
                    {%elif partner.status==1%}
                    <td>已取消合作</td>
                    {%end%}
                    <td  align="right">
                        <a href="/m/partner/edit/{{partner.id}}" class="btn btn-primary btn-sm">查看</a>
                    </td>
                </tr>
                {%end%}

                </tbody>
            </table>

            {% module Template("module/bspager.html", pager=pager,url="/m/partner/searchlist?pagenum=:page:") %}
