{% extends "../layout/mbase.html" %}

{% block css %}{% end %}

{% block js %}
<script>
    $(function () {
        $('input[type="radio"]').click(function () {
            var tt = $(this).parents('.check').find('.star');
            if ($(this).val() == 1) {
                tt.show()
            } else {
                tt.hide();
            }
        });

        $('.content_sel').change(function () {
            var sel_content = $(this).val();
            $(this).parents('.check').find("textarea").val(sel_content)
        });

        $('#J-save').click(function () {
            var answers = [];
            var not_upload = false;
            $(".check").each(function () {
                if (!$(this).find("textarea").val()) {
                    not_upload = true;
                    return false;
                }

                if (!$(this).find('input[type="radio"]:checked').size()) {
                    not_upload = true;
                    return false;
                }

                var aa = [];
                aa.push($(this).data('did'));
                aa.push($(this).find('input[type="radio"]:checked').val());
                aa.push($(this).find('input[type="radio"]:checked').val() == '1' ? $(this).find("select").val() : 0);
                aa.push($(this).find("textarea").val());

                answers.push(aa.join('&&'));
            });

            if (not_upload) {
                alert('还有设计方案未审核，或未填写评语');
                return fase;
            }

            $.post('/m/design/check', {
                'answers': answers.join('||'),
                'recordId': $('#J-recordId').val()
            }, function (res) {
                if (res.status == 1) {
                    window.location.href = '/m/design/new/list';
                }
            }, 'json');

        });

    });
</script>

{% end %}

{% block nav %}
{% module Template("module/backnav.html", name='design') %}
{% end %}

{% block container%}


<div class="container">
    <a href="/m/design/{{typ}}/list" class="btn btn-primary pull-right btn-sm layout-mt20">返回</a>
    <h3>审核管理
    </h3>
    <hr/>
    <div class="col-xs-3">
        <div class="list-group layout-mt20">
            <a href="/m/design/new/list" class="list-group-item {{'active' if typ=='new' else ''}}">未审核</a>
            <a href="/m/design/pass/list" class="list-group-item {{'active' if typ=='pass' else ''}}">已审核</a>
            <a href="/m/comment/design/list" class="list-group-item">审核评语</a>
        </div>
    </div>
    <div class="row">
        <input type="hidden" id="J-recordId" value="{{base_info._id}}">
        <div class="col-xs-8">
            <p class="control-label col-xs-4">玩家编号：{{base_info.uid+7000000}}</p>
            <p class="control-label col-xs-4">昵称：{{base_info.nick_name}}</p>

        </div>

        <div class="col-xs-8">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#new" role="tab" data-toggle="tab" aria-controls="new" aria-expanded="true">作品详情</a>
                </li>
                <li role="presentation">
                    <a href="#pass" role="tab" data-toggle="tab" aria-controls="pass" aria-expanded="false">作品列表</a>
                </li>
            </ul>
            <div class="tab-content layout-mt20">
                <div role="tabpanel" class="tab-pane active in" aria-labelledby="new-tab" id="new">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <p class=" col-xs-2">ID：{{base_info._id}}</p>
                            <p class=" col-xs-2">关口：{{base_info.section}}</p>
                            <p class=" col-xs-2">类型：{{base_info.type}}</p>
                            <p class=" col-xs-2" style="color: red">{{'(未审核)' if typ=='new' else '（已审核）'}} </p>
                        </div>

                        {%for question in game_record.question_list%}
                        <div class="form-group">
                            <div class="col-xs-2">
                                <img src="{{question['imgs']['face']}}" width="80" alt="用户正面照">
                            </div>
                            <div class="col-xs-5">
                                <form class="form-horizontal">
                                    <p>用户信息</p>
                                    <div class="form-group">
                                        <div class="col-xs-3">性别：</div>
                                        <div class="col-xs-2">{{question['info']['sex']}}</div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-3">年龄：</div>
                                        <div class="col-xs-2" style="width: 150px">{{question['info']['age']}}</div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-3">身高：</div>
                                        <div class="col-xs-2" style="width: 150px">{{question['info']['tall']}}</div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-3">身材：</div>
                                        <div class="col-xs-2" style="width: 150px">{{question['info']['body']}}</div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-3">职业：</div>
                                        <div class="col-xs-2" style="width: 150px">{{question['info']['profession']}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-3">发质：</div>
                                        <div class="col-xs-2" style="width: 150px">
                                            {{question['info']['hair_quality']}}
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xs-5">
                                <form class="form-horizontal">
                                    <p>需求信息</p>
                                    <div class="form-group">
                                        <div class="col-xs-3" style="width: 100px">剪发初衷：</div>
                                        <div class="col-xs-2" style="width: 150px">
                                            {{question['info']['hair_intention']}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-3" style="width: 100px">风格喜好：</div>
                                        <div class="col-xs-2" style="width: 150px">{{question['info']['style_like']}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-3" style="width: 100px">想剪长度：</div>
                                        <div class="col-xs-2" style="width: 150px">{{question['info']['hair_len']}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-3" style="width: 100px">烫发需求：</div>
                                        <div class="col-xs-2" style="width: 150px">{{question['info']['hair_wave']}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-3" style="width: 100px">染发需求：</div>
                                        <div class="col-xs-2" style="width: 150px">{{question['info']['hair_dye']}}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr/>
                        {%for idx,design in enumerate(question['designs'])%}
                        <div class="form-group">
                            <p>第{{idx+1}}题： 打造“{{design.style}}”风格方案</p>
                            <br>
                            <div class="col-xs-6">
                                <p>临摹素描图</p>
                                <img src="{{question['imgs']['copy'+str(idx+1)]}}" width="100" alt="临摹素描图">
                            </div>
                            <div class="col-xs-6">
                                <p>上传素描作品</p>
                                <img src="{{design.img}}" width="100" alt="上传素描作品">
                            </div>
                            <br>
                            <div>
                                <p>为客户设计风格：{{design.style}}</p>
                                <p>设计思路：{{design.remark}}</p>
                            </div>
                            <br>
                            <div class="check" data-did="{{design._id}}">
                                <label class="radio-inline pull-left" style="margin-left: 10px">
                                    <input type="radio" value="2"
                                           {{'checked' if design.selected==2 else ''}}
                                    name="r{{design.question}}_{{idx+1}}"> 不通过
                                </label>
                                <label class="radio-inline pull-left">
                                    <input type="radio" value="1"
                                           {{'checked' if design.selected==1 else ''}}
                                    name="r{{design.question}}_{{idx+1}}"> 通过
                                </label>
                                {%if typ=='new'%}
                                <label class="radio-inline pull-left star" style="display:none">
                                    <div>
                                        <label class="col-xs-7">评星值：</label>
                                        <div class="col-xs-2">
                                            <select>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                        </div>
                                    </div>
                                </label>
                                <textarea class="form-control" rows="3" style="margin-bottom: 10px;"
                                          placeholder="请填写评语"></textarea>

                                <select class="form-control content_sel">
                                    <option value="">无</option>
                                    {%for c in comments %}
                                    <option value="{{c.comment}}">{{c.comment}}</option>
                                    {%end%}
                                </select>


                                {%else%}
                                <label class="radio-inline pull-left">
                                    <div>
                                        <label class="col-xs-12">评星值：{{design.star}}颗星</label>
                                    </div>
                                </label>
                                <textarea class="form-control" rows="3"
                                          style="margin-bottom: 10px;" placeholder="请填写评语">{{design.comment}}</textarea>
                                {%end%}
                            </div>


                        </div>
                        <hr/>
                        {%end%}
                        {%end%}
                    </form>
                    {%if typ=='new'%}
                    <p style="margin: 50px;text-align: center;">
                        <button type="button" id="J-save" class="btn  btn-primary btn-lg">保存审核</button>
                    </p>
                    {%end%}
                </div>

                <div role="tabpanel" class="tab-pane" aria-labelledby="pass-tab" id="pass">
                    <div>
                        <table class="table table-hover layout-mt20">
                            <thead>
                            <tr>
                                <th>记录id</th>
                                <th>关口</th>
                                <th>类型</th>
                                <th>提交时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%for person_record in person_list%}
                            <tr>
                                <td>{{person_record['_id']}}</td>
                                <td>{{person_record['section']}}</td>
                                <td>{{person_record['type']}}</td>
                                <td>{{ftime(person_record['stime'])}}</td>
                                <td style="color: red">{{'未审核' if person_record['status']==2 else '已审核'}}</td>
                                <td width="200" align="right">
                                    <a href="/m/design/detail/{{person_record['_id']}}"
                                       class="btn btn-primary btn-sm">查看</a>
                                </td>
                            </tr>
                            {%end%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% end %}