{% extends "../layout/mbase.html" %}

{% block css %}{% end %}

{% block js %}
<script>
    $(function () {
        $('.btn').click(function () {
            if (!confirm('确认修改购买比例么')) {
                return false;
            }
            $.post(window.location.pathname, {'rate': $('#rate').val()}, function (res) {
                if (res.status == 1) {
                    alert('修改成功');
                    window.location.reload()
                }
            }, 'json');
            return false;
        });
    });
</script>
{% end %}

{% block nav %}
{% module Template("module/backnav.html", name='sys') %}
{% end %}


{% block container%}
<div class="container">
    <h3>
        系统
        <small>设置</small>
    </h3>
    <hr/>
    <div class="col-xs-2">
        <div class="list-group  text-center">
            <a href="#" class="list-group-item active">玩家数据</a>
            <a href="#" class="list-group-item">待定</a>
            <a href="#" class="list-group-item">待定</a>
            <a href="#" class="list-group-item">待定</a>
        </div>
    </div>
    <div class="col-xs-10">
        <div class="row">
            <div class="col-xs-12  layout-mt10">
                时间：上线到 <input type="text" readonly="ture" class="form-inline"
                              style="background-color: transparent ; border:0" value="{{ftime(ts)}}">
                <div class="layout-mt10">
                    前端：<input type="text" readonly="ture" class="form-inline"
                              style="background-color: transparent ; border:0" value={{player_show}}>
                </div>
                <div class="layout-mt10">
                    实际：<input type="text" readonly="ture" class="form-inline"
                              style="background-color: transparent ; border:0" value={{player_real}}>
                </div>
                <div class="layout-mt10">
                    现在的购买比例 1：<input type="text" class="form-inline" size="1" id="rate" value={{player_rate}}>
                    <button class="btn btn-default layout-ml10">修改</button>
                </div>
            </div>
        </div>
    </div>
</div>

{%end%}