{% extends "../layout/mbase.html" %}

{% block css %}{% end %}

{% block js %}
<script>
    $(function () {
        $('#J-save-btn').click(function () {
            var data = {
                'selected_id': $('#select').val(),
                'enroll_id': $('#enroll_id').val()
            };
            $.post('/m/education/change/term', data, function (res) {
                if (res.status == 1) {
                    window.location.href = '/m/education/' + $('#typ').val()
                }
            }, 'json')
        })
    })
</script>

{% end %}

{% block nav %}
{% module Template("module/backnav.html", name='education') %}
{% end %}


{% block container%}

<div class="container">
    <input type=hidden id="typ" value="{{typ}}">
    <input type=hidden id="enroll_id" value="{{enroll.id}}">
    <a href="/m/education/{{typ}}" class="btn btn-primary pull-right btn-sm layout-mt20">返回</a>

    <h3>商品
        <small>信息</small>
    </h3>
    <hr/>
    <div class="row">
        <div class="col-xs-3">
            <div class="input-group layout-mt20">
                <input type="text" class="form-control" placeholder="输入用户名称搜索">
                <span class="input-group-btn"> <a class="btn btn-default"> 搜索 </a> </span>
            </div>
            <div class="list-group layout-mt20" id="list_group">
                <a href="/m/education/paid" class="list-group-item {{'active' if typ== 'paid' else ' '}}">已报名</a>
                <a href="/m/education/sort" class="list-group-item {{'active' if typ== 'sort' else ' '}}">已排期</a>
                <a href="/m/education/unpass" class="list-group-item {{'active' if typ== 'unpass' else ' '}}">未结业</a>
                <a href="/m/education/pass" class="list-group-item {{'active' if typ== 'pass' else ' '}}">已结业</a>
                <a href="/m/term/list" class="list-group-item ">学期管理</a>
            </div>
        </div>

        <div class="col-xs-9">
            <h4>课程修改</h4>
            <hr/>
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-2">排期：</label>
                            <select class="form-control" id="select" style="width: 300px">
                                {%for term in terms%}
                                <option value="{{term.id}}" {% if term==enroll.term %} selected {%end%}>{{term.title}}
                                </option>
                                {%end%}
                                <option value="-2">已报名</option>
                                <option value="-1">未结业</option>
                                <option value="0">结业</option>
                            </select>
                        </div>
                        <a id="J-save-btn" class="btn btn-primary"> 保存 </a>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{% end %}