{% extends "../layout/mbase.html" %}

{% block css %}{% end %}

{% block js %}


{% end %}

{% block nav %}
{% module Template("module/backnav.html", name='cert') %}
{% end %}


{% block container%}
<div class="container">
    <h3>认证
        <small>列表</small>
    </h3>
    <hr/>

    <div class="row">
        <div class="col-xs-3">
            <div class="list-group layout-mt20">
                <a href="/m/cert/net/list" class="list-group-item ">网红认证</a>
                <a href="/m/cert/edu/list" class="list-group-item active">教育机构认证</a>
            </div>

        </div>

        <div class="col-xs-9 " id="searchcontent">
            <table class="table table-hover layout-mt20">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>姓名</th>
                    <th>身份证号</th>
                    <th>认证图片</th>
                    <th>手机号码</th>
                    <th>微信号</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td>500001</td>
                    <td>蒋xx</td>
                    <td>33032199301250xxxx</td>
                    <td><img src="/static/img/logo.png" width="100" alt=""></td>
                    <td>18768120187</td>
                    <td>jck353622088</td>
                    <td>认证中</td>
                    <td align="right">
                        <a href="" class="btn btn-primary btn-sm">通过</a>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>
{% end %}