{% extends "../layout/mbase.html" %}

{% block css %}{% end %}

{% block js %}


{% end %}

{% block nav %}
{% module Template("module/backnav.html", name='cert') %}
{% end %}


{% block container%}
<div class="container">
    <h3>认证
        <small>列表</small>
    </h3>
    <hr/>

    <div class="row">
        <div class="col-xs-3">
            <div class="list-group layout-mt20">
                <a href="/m/cert/net/list" class="list-group-item active">网红认证</a>
                <a href="/m/cert/edu/list" class="list-group-item ">教育机构认证</a>
            </div>

        </div>

        <div class="col-xs-9 " id="searchcontent">
            <table class="table table-hover layout-mt20">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>头像</th>
                    <th>微信昵称</th>
                    <th>游戏昵称</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td>1</td>
                    <td><img src="" width="100" alt=""></td>
                    <td>阿达</td>
                    <td>爱的</td>
                    <td>
                        未认证
                    </td>
                    <td align="right">
                        <a href="" class="btn btn-primary btn-sm">查看</a>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>
{% end %}