{% extends "../layout/mbase.html" %}

{% block css %}{% end %}

{% block js %}

{% module Template("module/js.html", filepath='zui/upyun/spark-md5.min.js') %}
{% module Template("module/js.html", filepath='zui/upyun/async.min.js') %}
{% module Template("module/js.html", filepath='zui/upyun/upyun-mu.js') %}

<script>
    function WidthCheck(str, maxLen) {
        var w = 0;
        var tempCount = 0;
        //length 获取字数数，不区分汉子和英文
        for (var i = 0; i < str.value.length; i++) {
            var c = str.value.charCodeAt(i);   //charCodeAt()获取字符串中某一个字符的编码
            if ((c >= 0x0001 && c <= 0x007e) || (0xff60 <= c && c <= 0xff9f)) {
                w++;   //单字节加1
            }
            else {
                w += 2;
            }
            if (w > maxLen) {
                str.value = str.value.substr(0, i);
                break;
            }
        }
    }

    $(function () {
        var upconfig = {
            bucket: '{{gconf["up_file_bucket"]}}',
            expiration: parseInt((new Date().getTime() + 3600000) / 1000),
            // 尽量不要使用直接传表单 API 的方式，以防泄露造成安全隐患
            form_api_secret: '{{gconf["up_file_secret"]}}'
        };


        $('#J-save-btn').click(function () {
            var data = $.formUtils.formData('form');
            $.post(window.location.pathname, data, function (res) {
                if (res.status == 1) {
                    window.location.href = '/m/imgMaterial/list';
                }
            }, 'json');
        });

        $('#J-upfile-btn').click(function () {
            if ($(this).html() == "上传") {
                $(this).html("上传中...");
                $('#file').click();
            }

            return false;
        });

        $('#file').change(function () {
            var ext = '.' + document.getElementById('file').files[0].name.split('.').pop();
            var instance = new Sand(upconfig);
            var options = {
                'notify_url': 'http://upyun.com'
            };

            instance.setOptions(options);
            instance.upload('/upload/test/' + parseInt((new Date().getTime() + 3600000) / 1000) + ext);
        });

        document.addEventListener('uploaded', function (e) {
            var data = e.detail;
            var path = "http://{{gconf['up_file_bucket']}}.b0.upaiyun.com" + data["path"];

            $(e.path[0].activeElement).html("上传").removeAttr("disabled");
            var img = $(e.path[0].activeElement).prev('img');
            img.attr('src', path);
            $('#J-poster-hid').val(data["path"]);

            //提交保存
//            $('#J-save-btn').click();

        });
    });
</script>
{% end %}

{% block nav %}
{% module Template("module/backnav.html", name='poster') %}
{% end %}

{% block container%}

<div class="container">

    <div class="container">
        <a href="/m/imgMaterial/list" class="btn btn-primary pull-right btn-sm layout-mt20">返回</a>

        <h3>分享图片
            <small>编辑</small>
        </h3>
        <hr/>
        <div>

            <div class="row">
                <div class="col-xs-3">
                    <div class="input-group layout-mt20">
                        <input type="text" class="form-control" placeholder="输入名称搜索">
                        <span class="input-group-btn"> <a class="btn btn-default"> 搜索 </a> </span>
                    </div>
                    <div class="list-group layout-mt20">
                        <a href="/m/webMaterial/list" class="list-group-item ">网页素材</a>
                        <a href="/m/imgMaterial/list" class="list-group-item active">图片</a>
                    </div>
                </div>
                <div class="col-xs-9">
                    <h4>编辑分享图片</h4>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-12">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-xs-2">字体颜色：</label>

                                    <div class="col-xs-5">
                                        <input type="text" class="form-control" name="font_color" placeholder=""
                                               value="{{mate['font_color']}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-2">字体大小：</label>

                                    <div class="col-xs-5">
                                        <input type="number" class="form-control" name="font_size" placeholder=""
                                               value="{{mate['font_size']}}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-2">二维码坐标X：</label>

                                    <div class="col-xs-5">
                                        <input type="text" class="form-control" name="qr_x" placeholder=""
                                               value="{{mate['qr_x']}}">
                                    </div>
                                    <div class="help-block">二维码距离图片左边像素长度</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-2">二维码坐标Y：</label>

                                    <div class="col-xs-5">
                                        <input type="text" class="form-control" name="qr_y" placeholder=""
                                               value="{{mate['qr_y']}}">
                                    </div>
                                    <div class="help-block">二维码距离图片顶部像素长度</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-2">二维码宽：</label>

                                    <div class="col-xs-5">
                                        <input type="text" class="form-control" name="qr_w" value="{{mate['qr_w']}}">
                                    </div>
                                    <div class="help-block">二维码大小</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-2">微信头像坐标X：</label>

                                    <div class="col-xs-5">
                                        <input type="text" class="form-control" name="av_x" placeholder=""
                                               value="{{mate['av_x']}}">
                                    </div>
                                    <div class="help-block">微信头像距离图片左边像素长度</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-2">微信头像坐标Y：</label>

                                    <div class="col-xs-5">
                                        <input type="text" class="form-control" name="av_y" placeholder=""
                                               value="{{mate['av_y']}}">
                                    </div>
                                    <div class="help-block">微信头像距离图片顶部像素长度</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-2">微信头像宽：</label>

                                    <div class="col-xs-5">
                                        <input type="text" class="form-control" name="av_d" placeholder=""
                                               value="{{mate['av_d']}}">
                                    </div>
                                    <div class="help-block">微信头像大小</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-2">昵称坐标X：</label>

                                    <div class="col-xs-5">
                                        <input type="text" class="form-control" name="na_x" placeholder=""
                                               value="{{mate['na_x']}}">
                                    </div>
                                    <div class="help-block">昵称距离图片左边像素长度</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-2">昵称坐标Y：</label>

                                    <div class="col-xs-5">
                                        <input type="text" class="form-control" name="na_y" placeholder=""
                                               value="{{mate['na_y']}}">
                                    </div>
                                    <div class="help-block">昵称距离图片顶部像素长度</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-2">底图：</label>
                                    <div class="col-xs-5">
                                        <input type="file" id="file" style="display: none;">
                                        <input type="hidden" name="poster_url" value="{{mate['poster_url']}}"
                                               id="J-poster-hid">
                                        <img src="{{upfile(mate['poster_url'])}}" alt="" width="100" height="100"/>
                                        <a href="#" class="btn btn-default" id="J-upfile-btn">上传</a>
                                    </div>
                                    <div class="help-block">图片格式：jpg，尺寸580x877，小于120k</div>
                                </div>

                                <div class="alert alert-danger" style="display: none">
                                    <strong>失败！</strong> 失败细节啥啥啥...
                                </div>
                                <a class="btn btn-primary" id="J-save-btn"> 保存 </a>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </div>

</div>

{% end %}