{% extends "../layout/mbase.html" %}

{% block css %}{% end %}

{% block js %}
<script>
    $(function () {
        $('.email').click(function () {
            if (!confirm('确认商品已寄出？')) {
                return false;
            }

            $.post($(this).attr('href'), function (res) {
                if (res.status == 1) {
                    window.location.reload();
                }
            }, 'json');
            return false;
        });
    })
</script>
{% end %}

{% block nav %}
{% module Template("module/backnav.html", name='goods') %}
{% end %}


{% block container%}
<div class="container">
    <h3>商品
        <small>信息</small>
    </h3>
    <hr/>
    <div class="row">
        <div class="col-xs-3">
            <div class="input-group layout-mt20">
                <input type="text" class="form-control" placeholder="输入用户名称搜索">
                <span class="input-group-btn"> <a class="btn btn-default"> 搜索 </a> </span>
            </div>
            <div class="list-group layout-mt20" id="list_group">
                <a href="/m/goods/course/list" class="list-group-item ">课程商品</a>
                <a href="/m/goods/video/list" class="list-group-item ">视频商品</a>
                <a href="/m/goods/benefit/list" class="list-group-item ">优惠券</a>
                <a href="/m/goods/entity/list" class="list-group-item ">实物商品</a>
                <a href="/m/goods/entity/order/list" class="list-group-item active">实物商品订单</a>
            </div>
        </div>

        <div class="col-xs-9">
            <table class="table table-hover layout-mt20">
                <thead>
                <tr>
                    <th>玩家编号</th>
                    <th>昵称</th>
                    <th>商品名称</th>
                    <th>商品价格</th>
                    <th>兑换时间</th>
                    <th>姓名</th>
                    <th>联系方式</th>
                    <th>邮寄地址</th>
                    <th>操作时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {%for result in results%}
                <tr>
                    <td>{{7000000+result.user.id}}</td>
                    <td>{{result.user.nick_name}}</td>
                    <td>{{result.goods['title']}}</td>
                    <td>{{result.goods['price']}}YB</td>
                    <td>{{ftime(result.ctime)}}</td>
                    <td>{{result.name}}</td>
                    <td>{{result.mobile}}</td>
                    <td>{{result.address}}</td>
                    <td>{{ftime(result.sent_time) if result.sent_time!=0 else ''}}</td>
                    {%if result.sent_time%}
                    <td align="left">已寄出</td>
                    {%elif not result.address%}
                    <td align="left">
                        <div style="color: red">无法邮寄</div>
                    </td>
                    {%else%}
                    <td align="left">
                        <a href="/m/goods/sent/{{result.id}}" class="btn btn-primary btn-sm email">邮寄</a>
                    </td>
                    {%end%}
                </tr>
                {%end%}
            </table>
            {% module Template("module/bspager.html", pager=pager,url="/m/goods/entity/order/list?pagenum=:page:") %}
        </div>
    </div>


</div>

{% end %}