{% extends "../layout/mbase.html" %}

{% block css %}{% end %}

{% block js %}
<script>
    $(function () {
        $('.status-btn').click(function () {
            if (!confirm('确认' + $(this).html() + '该商品?')) {
                return false;
            }

            $.post($(this).attr('href'), function (res) {
                if (res.status == 1) {
                    window.location.reload();
                }
            }, 'json');
            return false;
        });
    })
</script>
{% end %}

{% block nav %}
{% module Template("module/backnav.html", name='goods') %}
{% end %}


{% block container%}
<div class="container">
    <a href="/m/goods/add" class="btn btn-primary pull-right btn-sm layout-mt20">添加</a>

    <h3>商品
        <small>信息</small>
    </h3>
    <hr/>
    <div class="row">
        <div class="col-xs-3">
            <div class="input-group layout-mt20">
                <input type="text" class="form-control" placeholder="输入用户名称搜索">
                <span class="input-group-btn"> <a class="btn btn-default"> 搜索 </a> </span>
            </div>
            <div class="list-group layout-mt20" id="list_group">
                <a href="/m/goods/course/list" class="list-group-item {{'active' if typ=='course' else ''}}">课程商品</a>
                <a href="/m/goods/video/list" class="list-group-item {{'active' if typ=='video' else ''}}">视频商品</a>
                <a href="/m/goods/benefit/list" class="list-group-item {{'active' if typ=='benefit' else ''}}">优惠券</a>
                <a href="/m/goods/entity/list" class="list-group-item {{'active' if typ=='entity' else ''}}">实物商品</a>
                <a href="/m/goods/entity/order/list" class="list-group-item">实物商品订单</a>
            </div>
        </div>

        <div class="col-xs-9">
            <table class="table table-hover layout-mt20">
                <thead>
                <tr>
                    <th>封面</th>
                    <th>价格</th>
                    <th>标题</th>
                    <th>当前购买数</th>
                    <th>可购买总数</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {%for goods in goods_list%}
                <tr>
                    <td><img src="{{goods['pic']}}" width="30" alt=""></td>
                    <td>{{goods['price']}}YB</td>
                    <td>{{goods['title']}}</td>
                    <td>{{goods['current_count']}}</td>
                    <td>{{goods['limit']}}</td>
                    <td>{{'已上架'if goods['status']==1 else '已下架'}}</td>
                    <td width="200" align="right">
                        <a href="/m/goods/edit/{{goods['_id']}}" class="btn btn-primary btn-sm">查看</a>
                        <a href="/m/goods/change/{{goods['_id']}}" class="btn btn-danger btn-sm status-btn">
                            {{'下架'if goods['status']==1 else '上架'}}</a>
                    </td>
                </tr>
                {%end%}
            </table>
            {% module Template("module/bspager.html", pager=pager,url="/m/goods/"+typ+"/list?pagenum=:page:") %}

        </div>
    </div>


</div>

{% end %}