{% extends "../layout/mbase.html" %}

{% block css %}{% end %}

{% block js %}
{% module Template("module/js.html", filepath='zui/upyun/spark-md5.min.js') %}
{% module Template("module/js.html", filepath='zui/upyun/async.min.js') %}
{% module Template("module/js.html", filepath='zui/upyun/upyun-mu.js') %}
<script>
    $(function () {
        $('#J-save-btn').click(submit);

        function submit() {
            $(this).unbind('click');
            var data = $.formUtils.formData('form');
            var type = $('input[type="radio"]:checked').val();
            data['type'] = type;
            console.log(data);
            $.post(window.location.pathname, data, function (res) {
                if (res.status == 1) {
                    window.location.href = '/m/goods/course/list';
                }
            }, 'json');
            return false;
        }

//        上传图片
        var upconfig = {
            bucket: '{{gconf["up_file_bucket"]}}',
            expiration: parseInt((new Date().getTime() + 3600000) / 1000),
            // 尽量不要使用直接传表单 API 的方式，以防泄露造成安全隐患
            form_api_secret: '{{gconf["up_file_secret"]}}'
        };

        $('.upfile').click(function () {
            if ($(this).html() == "上传") {
                $(this).html("上传中...");
                $('#file').click();
            }
            return false;
        });

        $('#file').change(function () {
            var ext = '.' + document.getElementById('file').files[0].name.split('.').pop();
            var instance = new Sand(upconfig);
            var options = {
                'notify_url': 'http://upyun.com'
            };

            instance.setOptions(options);
            instance.upload('/upload/test/' + parseInt((new Date().getTime() + 3600000) / 1000) + ext);
        });

        //视频商品,优惠券商品,实训商品的切换
        $('.radio-inline input').change(function () {
            $('.div-2,.div-3').hide();
            $('.div-2 input,.div-3 select').val('');
            $('.div-' + this.value).show();
        });

        document.addEventListener('uploaded', function (e) {
            var data = e.detail;
            var path = "http://{{gconf['up_file_bucket']}}.b0.upaiyun.com" + data["path"];
            var upload_id = $(e.path[0].activeElement).attr('id').replace('up','hid');

            $(e.path[0].activeElement).html("上传").removeAttr("disabled");
            var img = $(e.path[0].activeElement).prev('img');
            img.attr('src', path);

            $('#' + upload_id).val(path);
        });
    });
</script>
{% end %}

{% block nav %}
{% module Template("module/backnav.html", name='goods') %}
{% end %}


{% block container%}

<div class="container">
    <a href="/m/goods/course/list" class="btn btn-primary pull-right btn-sm layout-mt20">返回</a>

    <h3>商品
        <small>信息</small>
    </h3>
    <hr/>
    <div class="row">
        <div class="col-xs-3">
            <div class="input-group layout-mt20">
                <input type="text" class="form-control" placeholder="输入用户名称搜索">
                <span class="input-group-btn"> <a class="btn btn-default"> 搜索 </a> </span>
            </div>
            <div class="list-group layout-mt20" id="list_group">
                <a href="/m/goods/course/list" class="list-group-item">课程商品</a>
                <a href="/m/goods/video/list" class="list-group-item">视频商品</a>
                <a href="/m/goods/benefit/list" class="list-group-item">优惠券</a>
                <a href="/m/goods/entity/list" class="list-group-item">实物商品</a>
            </div>
        </div>

        <div class="col-xs-9">
            <h4>商品信息</h4>
            <hr/>
            <div class="form-group">
                <form role="form">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="2">
                        视频商品
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="3">
                        优惠券商品
                    </label>
                    <label class="radio-inline">
                        <input type="radio" checked name="inlineRadioOptions" id="inlineRadio3" value="1">
                        实训商品
                    </label>
                    <label class="radio-inline">
                        <input type="radio" checked name="inlineRadioOptions" id="inlineRadio4" value="4">
                        实物商品
                    </label>
                </form>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-2">商品封面：</label>
                            <div class="col-xs-5">
                                <input type="file" id="file" style="display: none">
                                <input type="hidden" name="pic" id="J-pic-hid">
                                <img src="" alt="" width="100" height="100"/>
                                <a href="#" class="btn btn-default upfile" id="J-pic-up">上传</a>
                            </div>
                            <div class="help-block">图片格式：jpg，尺寸：640*640</div>
                        </div>
                        <div class="form-group div-2" style="display:none;">
                            <label class="control-label col-xs-2">视频封面：</label>
                            <div class="col-xs-5">
                                <input type="hidden" name="video_pic" id="J-video-hid">
                                <img src="" alt="" width="100" height="100"/>
                                <a href="#" class="btn btn-default upfile" id="J-video-up">上传</a>
                            </div>
                            <div class="help-block">图片格式：jpg，尺寸：640*640</div>
                        </div>
                        <div class="form-group div-2"  style="display:none;">
                            <label class="control-label col-xs-2">视频上传：</label>
                            <div class="col-xs-5">
                                <input type="text" class="form-control" placeholder="" name="video">
                            </div>
                            <div class="help-block">视频格式:MP4,石村1280*70,码率1024</div>
                        </div>

                        <div class="form-group div-3"  style="display:none;">
                            <label class="control-label col-xs-2" style="white-space: nowrap">优惠券联运方：</label>
                            <div class="col-xs-5">
                                <select name="partner_id" id="gate_id" class="form-control">
                                    {%for partner in partners%}
                                    <option value="{{partner.id}}">
                                        {{partner.nick_name}}
                                    </option>
                                    {%end%}
                                </select>
                            </div>
                        </div>
                        <div class="form-group div-3"  style="display:none;">
                            <label class="control-label col-xs-2">联系方式：</label>
                            <div class="col-xs-5">
                                <input type="text" class="form-control" placeholder="" name="contact">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-2">商品标题：</label>
                            <div class="col-xs-5">
                                <textarea type="text" class="form-control" placeholder="" name="title">
                                </textarea>
                            </div>
                            <div class="help-block">字数限制：保持10字以内</div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-2">商品内容：</label>
                            <div class="col-xs-5">
                                <textarea type="text" class="form-control" placeholder="" name="content">
                                </textarea>
                            </div>
                            <div class="help-block">字数限制：保持20字以内</div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-2">限制人数：</label>
                            <div class="col-xs-5">
                                <input type="text" class="form-control" placeholder="如整数：20" name="limit">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-2">商品价格：</label>
                            <div class="col-xs-5">
                                <input type="text" class="form-control" placeholder="如整数：20" name="price">
                            </div>
                        </div>

                        <a id="J-save-btn" class="btn btn-primary"> 保存 </a>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{% end %}