<table class="table table-bordered text-center layout-mt10 " style="font-size: smaller">
    <tr>
        <td>联运方名称</td>
        <td>宝描打开量</td>
        <td>未支付订单</td>
        <td>已支付订单</td>
        <td>转换率</td>
        <td>已提现金额</td>
        <td>未提现金额</td>
        <td>直销订单量</td>
        <td>直销销售额</td>
        <td>直销收益</td>
        <td>分销订单量</td>
        <td>分销销售额</td>
        <td>分销收益</td>
        <td>总销售额</td>
        <td>总收益</td>
    </tr>
    <tr>
        <td>总计</td>
        <td>{{amount[0]}}</td>
        <td>{{amount[1]}}</td>
        <td>{{amount[2]}}</td>
        <td>{{amount[3]*100}}%</td>
        <td>{{amount[12]}}</td>
        <td>{{amount[13]}}</td>
        <td>{{amount[4]}}</td>
        <td>{{amount[5]}}</td>
        <td>{{amount[6]}}</td>
        <td>{{amount[7]}}</td>
        <td>{{amount[8]}}</td>
        <td>{{amount[9]}}</td>
        <td>{{amount[10]}}</td>
        <td>{{amount[11]}}</td>
    </tr>
    {%for data in data_list%}
    <tr>
        <td>{{data[0]}}</td>
        <td>{{data[1]}}</td>
        <td>{{data[2]}}</td>
        <td>{{data[3]}}</td>
        <td>{{data[4]*100}}%</td>
        <td>{{data[13]}}</td>
        <td>{{data[14]}}</td>
        <td>{{data[5]}}</td>
        <td>{{data[6]}}</td>
        <td>{{data[7]}}</td>
        <td>{{data[8]}}</td>
        <td>{{data[9]}}</td>
        <td>{{data[10]}}</td>
        <td>{{data[11]}}</td>
        <td>{{data[12]}}</td>
    </tr>
    {%end%}
</table>