<table class="table table-bordered text-center layout-mt10" style="font-size: smaller">
    <tr>
        <td>宝描打开量</td>
        <td>未支付订单</td>
        <td>已支付订单</td>
        <td>转换率</td>
        <td>已提现金额</td>
        <td>未提现金额</td>
        <td>总销售额</td>
        <td>总分成</td>
        <td>总利润</td>
        <td>利润率</td>
    </tr>
    <tr>
        <td>{{data[0]}}</td>
        <td>{{data[1]}}</td>
        <td>{{data[2]}}</td>
        <td>{{data[3]*100}}%</td>
        <td>{{data[8]}}</td>
        <td>{{data[9]}}</td>
        <td>{{data[4]}}</td>
        <td>{{data[5]}}</td>
        <td>{{data[6]}}</td>
        <td>{{data[7]*100}}%</td>
    </tr>
</table>