<table class="table table-bordered text-center layout-mt10" style="...">
    <tr>
        <td>总玩家量</td>
        <td>第一章</td>
        <td>第二章</td>
        <td>第三章</td>
        <td>第四章</td>
        <td>第五章</td>
        <td>第六章</td>
        <td>第七章</td>
        <td>第八章</td>
        <td>第九章</td>
        <td>第十章</td>
    </tr>
    <tr>
        <td>{{data[10]}}</td>
        <td>{{data[0]}}</td>
        <td>{{data[1]}}</td>
        <td>{{data[2]}}</td>
        <td>{{data[3]}}</td>
        <td>{{data[4]}}</td>
        <td>{{data[5]}}</td>
        <td>{{data[6]}}</td>
        <td>{{data[7]}}</td>
        <td>{{data[8]}}</td>
        <td>{{data[9]}}</td>
    </tr>
</table>