{% extends "../layout/mbase.html" %}

{% block css %}{% end %}

{% block js %}
<script>
    $(function () {
        $('.btn').click(function () {
            var btn_typ = $(this).data('typ');
            var data = {'start': $('#' + btn_typ + '_1').val(), 'end': $('#' + btn_typ + '_2').val()};
            console.log(btn_typ);
            console.log(data);

            $.post('/m/data/' + btn_typ, data, function (res) {
                $('#add_' + btn_typ).html("");
                $('#add_' + btn_typ).append(res)
            }, 'html')
        })
    })
</script>

{% end %}

{% block nav %}
{% module Template("module/backnav.html", name='data') %}
{% end %}


{% block container%}
<div class="container">
    <div class="row" style="...">
        <div class="pull-right layout-ml20 col-md-8" style="...">
            <!--<a href="#" class="btn btn-primary pull-right btn-sm">点击刷新</a>-->
            <!--<span class="layout-mr10 pull-right">从 <time>2016/7/31 17:00:00</time> 到 2016/7/31 17:00:00的转化率（已支付/宝描打开量）</span>-->
        </div>
        <h3>
            时间维度
            <small>查询</small>
        </h3>
        <hr/>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <div class="list-group layout-mt20">
                <a href="/m/data/list" class="list-group-item active">数据总览</a>
                <a href="/m/data/trial/list" class="list-group-item">试玩数据</a>
                <a href="/m/data/ask/list" class="list-group-item">催付数据</a>
                <a href="/m/data/game/list" class="list-group-item">游戏数据</a>
            </div>
        </div>
        <div class="col-xs-10">
            <div class="row">
                <div class="col-xs-12">
                    <ul id="myTabs" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#pingtai" id="pingtai-tab" role="tab" data-toggle="tab" aria-controls="pingtai"
                               aria-expanded="true">平台维度</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#lianyun" role="tab" id="lianyun-tab" data-toggle="tab" aria-controls="lianyun"
                               aria-expanded="false">联运方数据</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#wanjia" role="tab" id="wangjia-tab" data-toggle="tab" aria-controls="wanjia"
                               aria-expanded="false">玩家数据</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#wanjiagame" role="tab" id="wanjiagame-tab" data-toggle="tab"
                               aria-controls="wanjiagame"
                               aria-expanded="false">玩家游戏数据</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content layout-mt20">
                        <!--第一个标签-->
                        <div role="tabpanel" class="tab-pane active in" id="pingtai" aria-labelledby="pingtai-tab">
                            <div class="row" style="...">
                                从 <input type="datetime-local" id="plat_1">到<input type="datetime-local"
                                                                                   class="form-inline" id="plat_2">的数据：
                                <button class="btn btn-primary" type="button" data-typ="plat">查询</button>
                            </div>
                            <ul id="add_plat"></ul>
                        </div>
                        <!--第二个标签-->
                        <div role="tabpanel" class="tab-pane" id="lianyun" aria-labelledby="lianyun-tab">
                            <div class="row" style="...">
                                从 <input type="datetime-local" id="partner_1">到<input type="datetime-local"
                                                                                      class="form-inline"
                                                                                      id="partner_2">的数据：
                                <button class="btn btn-primary" type="button" data-typ="partner">查询</button>
                            </div>
                            <ul id="add_partner" style="padding: 0;"></ul>
                        </div>
                        <!--第三个标签-->
                        <div role="tabpanel" class="tab-pane" id="wanjia" aria-labelledby="wanjia-tab">
                            <div class="row" style="...">
                                从 <input type="datetime-local" id="player_1">到<input type="datetime-local"
                                                                                     class="form-inline"
                                                                                     id="player_2">的数据：
                                <button class="btn btn-primary" type="button" data-typ="player">查询</button>
                            </div>
                            <ul id="add_player"></ul>
                        </div>
                        <!--第四个标签-->
                        <div role="tabpanel" class="tab-pane" id="wanjiagame" aria-labelledby="wanjiagame-tab">
                            <div class="row" style="...">
                                从 <input type="datetime-local" id="game_1">到<input type="datetime-local"
                                                                                   class="form-inline" id="game_2">的数据：
                                <button class="btn btn-primary" type="button" data-typ="game">查询</button>
                            </div>
                            <ul id="add_game"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%end%}