{% extends "../layout/mbase.html" %}

{% block css %}{% end %}

{% block js %}
<script>
    $(function () {
        $('input[type="radio"]').click(function () {
            var tt = $(this).parents('.ques').find('textarea');
            var ss = $(this).parents('.ques').find('select');
            if ($(this).val() == 2) {
                tt.show()
                ss.show()
            } else {
                tt.hide();
                ss.hide();
            }
        });

        $('.content_sel').change(function () {
            var sel_content = $(this).val();
            $(this).parents('.ques').find("textarea").val(sel_content)
        });

        $('#J-save').click(function () {
            var answers = [];
            $(".ques").each(function () {
                var a = $(this).find('input[type="radio"]:checked');

                var tt = '';
                if (a.val() == 2) {
                    tt = $(this).find("textarea").val();
                }

                answers.push(a.attr('name') + '$' + a.val() + '$' + tt);
            });

            $.post('/m/record/check', {
                'answers': answers.join('|'),
                'recordId': $('#J-recordId').val()
            }, function (res) {
                if (res.status == 1) {
                    window.location.href = '/m/record/new/list';
                }
            }, 'json');

        });

    });
</script>

{% end %}

{% block nav %}
{% module Template("module/backnav.html", name='sword') %}
{% end %}

{% block container%}


<div class="container">
    <h3>审核管理
    </h3>
    <hr/>
    <div class="row">
        <div class="col-xs-3">
            <div class="list-group layout-mt20">
                <a href="/m/record/new/list" class="list-group-item {{'active' if typ=='new' else ''}}">未审核</a>
                <a href="/m/record/pass/list" class="list-group-item {{'active' if typ=='pass' else ''}}">已审核</a>
                <a href="/m/comment/record/list" class="list-group-item">审核评语</a>
            </div>
        </div>

        <div class="col-xs-9">

            <p>用户id:<span>{{game_record.uid}}</span></p>

            <p>关口: <span>one</span> <span>({{game_record.type}})</span></p>

            <input type="hidden" id="J-recordId" value="{{game_record._id}}">

            {% for index,question in enumerate(game_record.question_list) %}
            <div class="ques">
                <br>
                <p class="bg-info" style="padding: 10px;">第{{index+1}}题: {{question['title']}}
                    <label class="radio-inline pull-right" style="margin-left: 10px">
                        <input type="radio" name="ques{{index+1}}" value="2"
                               {{'checked' if question["selected"]==2 else ''}}> 不通过
                    </label>
                    <label class="radio-inline pull-right">
                        <input type="radio" name="ques{{index+1}}" value="1"
                               {{'checked' if question["selected"]==1 else ''}}> 通过
                    </label>
                </p>
                {%if typ=='new'%}
                <textarea class="form-control" rows="3" placeholder="不通过原因"
                          style="margin-bottom: 10px;display: none;"></textarea>
                <select class="form-control content_sel" style="display: none">
                    <option value="">无</option>
                    {%for c in comments %}
                    <option value="{{c.comment}}">{{c.comment}}</option>
                    {%end%}
                </select>
                {%else%}
                <textarea class="form-control" rows="3" style="margin-bottom: 10px;">{{question['comment']}}</textarea>
                {%end%}
                <div style="text-align: center">
                    <img class="img-rounded" width="360px" src="{{question['img']}}" alt="这是原图">
                    <img class="img-rounded" width="360px" src="{{question['upload']}}" alt="玩家作图">
                </div>
            </div>
            {%end%}

            {%if game_record.status==2 %}
            <p style="margin: 20px;text-align: center">
                <button type="button" id="J-save" class="btn  btn-primary btn-lg">保存审核</button>
            </p>
            {%end%}

        </div>
    </div>

</div>

{% end %}