{% extends "../layout/mbase.html" %}

{% block css %}{% end %}

{% block js %}
<script>
    function WidthCheck(str, maxLen) {
        var w = 0;
        var tempCount = 0;
        //length 获取字数数，不区分汉子和英文
        for (var i = 0; i < str.value.length; i++) {
            var c = str.value.charCodeAt(i);   //charCodeAt()获取字符串中某一个字符的编码
            if ((c >= 0x0001 && c <= 0x007e) || (0xff60 <= c && c <= 0xff9f)) {
                w++;   //单字节加1
            }
            else {
                w += 2;
            }
            if (w > maxLen) {
                str.value = str.value.substr(0, i);
                break;
            }
        }
    }
</script>

<script>
    $(function () {
        $('#J-save-btn').click(function () {
            var data = $.formUtils.formData('form');
            console.log(data);
            $.post(window.location.pathname, data, function (res) {
                if (res.status == 1) {
                    window.location.href = '/m/webMaterial/list'
                }
            }, 'json');
        });
    });
</script>
{% end %}

{% block nav %}
{% module Template("module/backnav.html", name='material') %}
{% end %}

{% block container%}


<div class="container">
    <a href="/m/poster/list" class="btn btn-primary pull-right btn-sm layout-mt20">返回</a>

    <h3>海报
        <small>添加</small>
    </h3>
    <hr/>
    <div>
        <div class="row">
            <div class="col-xs-3">
                <div class="input-group layout-mt20">
                    <input type="text" class="form-control" placeholder="输入名称搜索">
                    <span class="input-group-btn"> <a class="btn btn-default"> 搜索 </a> </span>
                </div>
                <div class="list-group layout-mt20">
                    <a href="/m/poster/list" class="list-group-item active">海报素材</a>
                    <a href="" class="list-group-item ">占坑</a>
                </div>
            </div>

            <div class="col-xs-9">
                <h4>添加海报素材：</h4>
                <hr/>
                <div class="row">
                    <div class="col-xs-12">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-xs-2">海报标题：</label>

                                <div class="col-xs-5">
                                    <input type="text" class="form-control" name="title" placeholder=""
                                           onkeyup="WidthCheck(this,60)"/>
                                </div>
                                <div class=" help-block">建议30个汉字内
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-2">海报价格：</label>

                                <div class="col-xs-5">
                                    <input type="text" class="form-control" name="price" placeholder=""
                                           onkeyup="WidthCheck(this,60)"/>
                                </div>
                            </div>
                            <div class="alert alert-danger" style="display: none;">
                                <strong>失败！</strong> 失败细节啥啥啥...
                            </div>
                            <a class="btn btn-primary" id="J-save-btn"> 添加 </a>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>

{% end %}