{% extends "../layout/base.html" %}


{% block base_meta %}
<meta content=”email=no” name=”format-detection”/>
<meta name="format-detection" content="telephone=no">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
{% module Template("module/js.html", filepath='union/js/fit.js') %}

{% block meta %}{% end %}
{% end %}

{% block base_css %}

{% block css %}{% end %}
{% end %}


{% block base_js %}

{% block js %}{% end %}
{% end %}

{% block body%}

{% block container %}
{% end %}

{% end %}
