{% extends "../layout/mbase.html" %}

{% block css %}{% end %}

{% block js %}
<script>
    $(function () {
        $('#J-save-btn').click(function () {
            var data = $.formUtils.formData('form');
            console.log(data);
            $.post(window.location.pathname, data, function (res) {
                if (res.status == 1) {
                    window.location.href = '/m/term/list'
                }
            }, 'json');
        });
    });
</script>
{% end %}

{% block nav %}
{% module Template("module/backnav.html", name='enroll') %}
{% end %}


{% block container%}

<div class="container">
    <a href="/m/term/list" class="btn btn-primary pull-right btn-sm layout-mt20">返回</a>

    <h3>学期
        <small>信息</small>
    </h3>
    <hr/>
    <div class="row">
        <div class="col-xs-2">
            <div class="input-group layout-mt20">
                <input type="text" class="form-control" placeholder="输入用户名称搜索">
                <span class="input-group-btn"> <a class="btn btn-default"> 搜索 </a> </span>
            </div>
            <div class="list-group layout-mt20" id="list_group">
                <a href="/m/education/paid" class="list-group-item ">已报名</a>
                <a href="/m/education/sort" class="list-group-item ">已排期</a>
                <a href="/m/education/unpass" class="list-group-item ">未结业</a>
                <a href="/m/education/pass" class="list-group-item ">已结业</a>
                <a href="/m/term/list" class="list-group-item active">学期管理</a>
            </div>
        </div>
        <div class="col-xs-10">
            <div class="row">
                <div class="col-xs-12">
                    <ul id="myTabs" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#pingtai" id="pingtai-tab" role="tab" data-toggle="tab" aria-controls="pingtai"
                               aria-expanded="true">编辑</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#lianyun" role="tab" id="lianyun-tab" data-toggle="tab" aria-controls="lianyun"
                               aria-expanded="false">玩家</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content layout-mt20">
                        <!--第一个标签-->
                        <div role="tabpanel" class="tab-pane active in" id="pingtai" aria-labelledby="pingtai-tab">
                            <div class="row">
                                <div class="col-xs-12">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-xs-2">学期名称：</label>
                                            <div class="col-xs-5">
                                                <textarea class="form-control" placeholder="" name="title">
                                                {{term.title}}
                                                </textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-xs-2">上课开始时间：</label>

                                            <div class="col-xs-5">
                                                <input type="text" class="form-control" placeholder="格式填写：2016-01-15"
                                                       name="start_time" value="{{ftime(term.start_time,'%Y-%m-%d')}}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-2">上课结束时间：</label>

                                            <div class="col-xs-5">
                                                <input type="text" class="form-control" placeholder="格式填写：2016-01-20"
                                                       name="end_time" value="{{ftime(term.end_time,'%Y-%m-%d')}}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-xs-2">上课地址：</label>

                                            <div class="col-xs-5">
                                <textarea class="form-control" placeholder="" name="address">
                                {{term.address}}
                                </textarea>
                                            </div>
                                        </div>
                                        <a id="J-save-btn" class="btn btn-primary"> 保存 </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--第二个标签-->
                        <div role="tabpanel" class="tab-pane" id="lianyun" aria-labelledby="lianyun-tab">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table table-hover layout-mt20">
                                        <thead>
                                        <tr>
                                            <th>玩家编号</th>
                                            <th>微信昵称</th>
                                            <th>真实姓名</th>
                                            <th>手机号</th>
                                            <th>地区</th>
                                            <th>商品名称</th>
                                            <th>报名时间</th>
                                            <th>学期</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {%for enrollment in enrollments%}
                                        <tr>
                                            <td>{{7000000+enrollment.user.id}}</td>
                                            <td>{{enrollment.user.user_name}}</td>
                                            <td>{{enrollment.real_name}}</td>
                                            <td>{{enrollment.mobile}}</td>
                                            <td>{{enrollment.user.city}}</td>
                                            <td>{{enrollment.title}}</td>
                                            <td>{{ftime(enrollment.ctime,'%Y-%m-%d')}}</td>
                                            <td>{{enrollment.term.title}}</td>
                                        </tr>
                                        {%end%}
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% end %}